<div  class="footer">
  <div class="container wrapper">
    <div class="footer__inner">
      <div class="footer__top">
        <div class="grid grid--middle">
          <div class="grid__column grid__column--12 grid__column--4@md">
            <div class="footer__socials">
              <ul class="footer__list footer__list--socials">
                {% include snippets/socials.liquid menu='social' li_class='footer__list-item footer__list-item--social' a_class='footer__social-link' badge_class='footer__social-badge' %}
              </ul>
            </div>
          </div>

          <div class="grid__column grid__column--12 grid__column--8@md grid__column--first@md">
            <nav class="footer__nav">
              <ul class="footer__list footer__list--menu">
                {% if include.show_currency_selector == true and shop.enabled_currencies.size > 1 %}
                  <li class="footer__list-item">
                    <a class="footer__menu-link footer__menu-link--icon">
                      {{ cart_currency }}
                      {% if shop.enabled_currencies != blank %}
                        <span class="footer__link-icon">
                          {% include snippets/icon-chevron-bottom.svg %}
                        </span>
                      {% endif %}
                    </a>
                    {% if shop.enabled_currencies != blank %}
                      <div class="footer__dropdown footer__dropdown--content">
                        <ul class="footer__dropdown-inner">
                          {% for currency in shop.enabled_currencies %}
                            <li class="footer__dropdown-item">
                              <a class="footer__dropdown-link" href="/localization?currency={{ currency }}&return_to={{ request_page }}">
                                {{ currency }}
                              </a>
                            </li>
                          {% endfor %}
                        </ul>
                      </div>
                    {% endif %}
                  </li>
                {% endif %}

                {% for link in site.linklists[include.menu].links %}
                  <li class="footer__list-item">
                    <a href="{{ link.url | localized_url }}" class="footer__menu-link">{{ link.title }}</a>
                  </li>
                {% endfor %}
              </ul>
            </nav>  
          </div>
        </div>
      </div>

      <div class="footer__bottom">
        <ul class="footer__list footer__list--bottom">
          {% assign copyright_text = shop.name -%}

          {% if include.copyright_text != blank %}
            {% assign copyright_text = include.copyright_text %}
          {% endif -%}
          
          <li class="footer__list-item">
            <div class="footer__copy">&copy; {{ 'now' | date: '%Y' }} {{ copyright_text }}</div>
          </li>

          {% if include.show_powered_by == true %}
            <li class="footer__list-item">
              <div class="footer__powered-by">
                {{ include.powered_by_link }}
              </div>
            </li>
          {% endif %}
        </ul>
      </div>
    </div>
  </div>
</div>
