{% if include.show_announcement_bar == true %}
  {% include snippets/announcement-bar.liquid type='normal' %}
{% endif -%}

<div  class="header">
  <div class="container wrapper">
    <div class="header__sections">
      <div class="header__section header__section--hamburger hidden@sm">
        <button data-drawer-trigger-primary="mobile-menu" class="header__icon header__icon--hamburger">
          {% include snippets/icon-hamburger.svg %}
        </button>
      </div>

      <div class="header__section header__section--left visible@sm">
        <ul class="header__list header__list--right-nav">
          {% if include.show_button == true %}
            <li class="header__list-item visible@sm">
              <div class="header__cta">
                <a
                  href="{{ include.button_url | localized_url }}"
                  class="button button--primary button--small"
                >
                  {{ include.button_text }}
                </a>
              </div>
            </li>
          {% endif %}
        </ul>
        <nav class="header__nav visible@sm">
          <ul class="header__list header__list--nav">
            <li class="header__list-item{% if page.url != '/index.html' %} header__list-item--breadcrumbs{% endif %}">
              <a
                href="/"
                class="header__link"
              >
                Inicio
              </a>
            </li>
            {% if page.url != '/index.html' %}
              <li class="header__list-item header__list-item--separator">
                <a
                  href="{{ site.link }}"
                  class="header__link"
                >
                  {{ page.title | default: site.title }}
                </a>
              </li>
            {% endif %}
            {% for link in site.linklists[include.menu].links %}
              <li class="header__list-item">
                <a
                  href="{{ link.url | localized_url }}"
                  class="header__link{% if link.links %} header__link--icon{% endif %}"
                >
                  {{ link.title }}

                  {% if link.links %}
                    <span class="header__link-icon">
                      {% include snippets/icon-chevron-bottom.svg %}
                    </span>
                  {% endif %}
                </a>

                {% if link.links %}
                  <div class="header__dropdown">
                    <ul class="header__dropdown-inner">
                      {% for childlink in link.links %}
                        <li class="header__dropdown-item">
                          <a class="header__dropdown-link" href="{{ childlink.url | localized_url }}">
                            {{ childlink.title }}
                          </a>
                        </li>
                      {% endfor %}
                    </ul>
                  </div>
                {% endif %}
              </li>
            {% endfor %}
          </ul>
        </nav>
      </div>

      <div class="header__section header__section--middle">
        {% if page.url == '/index.html' %}
          <h1 class="header__logo">
        {% else %}
          <div class="header__logo">
        {% endif %}

        <a href="/" class="header__logo-link">
          {% include snippets/logo.liquid class="header__logo-image" %}
        </a>

        {% if page.url == '/index.html' %}
          </h1>
        {% else %}
          </div>
        {% endif %}
      </div>

      <div class="header__section header__section--right">
        <tool-bar class="visible@sm">
          <ul class="header__list header__list--toolbar">
            <li class="header__list-item">
              <div class="header__link header__link--icon" title="Color de tema">
                <span class="header__link-icon">{% include snippets/color_lens.svg %}</span>
              </div>

              <div class="header__dropdown header__dropdown--content">
                <ul class="header__dropdown-inner">
                  <!--
                  <li class="header__dropdown-item">
                    <span data-color="predetermined" class="header__dropdown-link"> Predeterminado</span>
                  </li>
                  -->
                  <li class="header__dropdown-item">
                    <span data-color="light" class="header__dropdown-link"> Claro</span>
                  </li>
                  <li class="header__dropdown-item">
                    <span data-color="dark" class="header__dropdown-link"> Oscuro</span>
                  </li>
                  <li class="header__dropdown-item">
                    <span data-color="yellow" class="header__dropdown-link"> Amarillo</span>
                  </li>
                  <li class="header__dropdown-item">
                    <span data-color="blue" class="header__dropdown-link"> Azul</span>
                  </li>
                </ul>
              </div>
            </li>
            <li class="header__list-item">
              <div class="header__link header__link--icon" title="Altura de línea">
                <span class="header__link-icon">{% include snippets/format_line_spacing.svg %}</span>
              </div>

              <div class="header__dropdown header__dropdown--content">
                <ul class="header__dropdown-inner">
                  <li class="header__dropdown-item">
                    <span data-line-height="standard"  class="header__dropdown-link"> Estándar</span>
                  </li>
                  <li class="header__dropdown-item">
                    <span data-line-height="separate" class="header__dropdown-link"> Separado</span>
                  </li>
                  <li class="header__dropdown-item">
                    <span data-line-height="very-separate" class="header__dropdown-link"> Muy separado</span>
                  </li>
                </ul>
              </div>
            </li>
            <li class="header__list-item">
              <div class="header__link header__link--icon" title="Espaciado entre letras">
                <span class="header__link-icon">{% include snippets/text_format.svg %}</span>
              </div>

              <div class="header__dropdown header__dropdown--content">
                <ul class="header__dropdown-inner">
                  <li class="header__dropdown-item">
                    <span data-letter-spacing="standard" class="header__dropdown-link"> Estándar</span>
                  </li>
                  <li class="header__dropdown-item">
                    <span data-letter-spacing="wide" class="header__dropdown-link"> Ancho</span>
                  </li>
                  <li class="header__dropdown-item">
                    <span data-letter-spacing="very-wide" class="header__dropdown-link"> Muy ancho</span>
                  </li>
                </ul>
              </div>
            </li>
            <li class="header__list-item">
              <div data-font-size="less" class="header__link header__link--icon" title="Disminuir tamaño de fuente">
                <span class="header__link-icon">{% include snippets/icon-less-size.svg %}</span>
              </div>
            </li>
            <li class="header__list-item">
              <div data-font-size="more" class="header__link header__link--icon" title="Aumentar tamaño de fuente">
                <span class="header__link-icon">{% include snippets/icon-more-size.svg %}</span>
              </div>
            </li>
          </ul>
        </tool-bar>
      </div>
    </div>
  </div>
</div>

{% include snippets/mobile-menu.liquid %}