{%- assign background_class = '' -%}

{% if include.background_clip != 'none' %}
  {%- assign background_class = background_class | append: ' section-background--clip-square-' | append: include.background_clip -%}
{% endif %}

{%- capture background_overlay_opacity -%}
  opacity:{{ include.background_overlay_opacity | divided_by: 100.00 }};
{%- endcapture -%}

{%- capture background_image_blend_mode -%}
  mix-blend-mode:{{ include.background_blend_mode }};
{%- endcapture -%}

<section class="hero hero--{{ section.id }} hero--style-{{ include.style }}">
  <div class="container container--outer">
    <div class="hero__container">
      <div class="section-background{{ background_class }}">
        {% if include.background_image != blank %}
          <div
            class="section-background__image"
            style="background-image: url({{ include.background_image | img_url: '1920x' }});{{ background_image_blend_mode }}"
          ></div>
        {% endif %}

        {% if include.show_background_overlay == true %}
          <div
            class="section-background__overlay"
            style="background-color:{{ include.background_overlay_color }};{{ background_overlay_opacity }}"
          ></div>
        {% endif %}
      </div>

      <div class="container container--12 wrapper">
        <div class="hero__inner">
          {% unless include.style == 'no-images' %}
            <div class="hero__images">
              <div class="hero__image">
                {% if include.image != blank %}
                  <div class="image" style="--image-ratio-padding:100%;">
                    <div class="image__object">
                      <img src="{{ include.image }}" alt="{{ include.title }}" class="image__image"/>
                    </div>
                  </div>
                {% endif %}
              </div>
            </div>
          {% endunless %}

          <div class="hero__content">
            <h1
              class="hero__heading hero__heading--{{ include.heading_size }}"
            >
              {{ include.heading }}
            </h1>

            {% if include.text != blank %}
              <p
                class="hero__text"
              >
                {{ include.text }}
              </p>
            {% endif %}

            {% if include.show_button1 == true or include.show_button2 == true or include.show_button3 == true %}
            <div class="hero__cta-container">
              {% if include.show_button1 == true %}
                <div class="hero__cta hero__cta--primary">
                  <a
                    href="{{ include.button1_url | localized_url }}"
                    class="button button--primary button--small"
                  >
                    {{ include.button1_text }}
                  </a>
                </div>
              {% endif %}

              {% if include.show_button2 == true %}
                <div class="hero__cta hero__cta--secondary">
                  <a
                    href="{{ include.button2_url | localized_url }}"
                    class="button button--outline button--small"
                  >
                    {{ include.button2_text }}
                  </a>
                </div>
              {% endif %}

              {% if include.show_button3 == true %}
                <div class="hero__cta hero__cta--secondary">
                  <a
                    href="{{ include.button3_url | localized_url }}"
                    class="button button--outline button--small"
                  >
                    {{ include.button3_text }}
                  </a>
                </div>
              {% endif %}
            </div>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </div>
</section>