<section class="password__container">
  <div class="container container--5 wrapper">
    <div class="password__content">
      <div class="password__header">
        {% if request.page_type == 'index' %}
          <h1 class="password__logo">
        {% else %}
          <div class="password__logo">
        {% endif %}
          <a href="{{ routes.root_url }}">
            {% include 'logo', class: "password__logo-image" %}
          </a>
        {% if request.page_type == 'index' %}
          </h1>
        {% else %}
          </div>
        {% endif %}
      </div>

      <div class="password__body">
        {% if shop.password_message and shop.password_message != '' %}
          {{ shop.password_message }}
        {% else %}
          <h1 class="password__subheading">{{ section.settings.heading }}</h1>
          {% if section.settings.description != blank %}
            <p class="password__description">{{ section.settings.description }}</p>
          {% endif %}

          {% if section.settings.enable_countdown == true and shop.metafields.schedule.live_from != blank %}
            {%- assign date_format = '%a, %e %b %Y %H:%M:%S %z' -%}
            {%- assign today_date = 'now' | date: date_format | default: '' -%}
            {%- assign today_seconds = 'now' | date: '%s' | plus: 0 -%}
            {%- assign live_date = shop.metafields.schedule.live_from | date: '%s' | plus: 0 -%}
            {%- assign max_date_show_countdown = live_date | plus: 300 -%}

            {% if today_seconds <= max_date_show_countdown %}
              {% include 'countdown',
                countdown_type: 'custom',
                countdown_start_date: today_date,
                countdown_end_date: shop.metafields.schedule.live_from,
                class_countdown: 'countdown__timer--password'
              %}
            {% endif %}
          {% endif %}

          {% form 'storefront_password' %}
            {% if form.errors.count > 0 %}
              <div class="password__error">Incorrect password</div>
            {% endif %}
          {% endform %}
        {% endif %}

        {% if section.settings.enable_mailing == true %}
          <div class="password__form-newsletter">
            <div class="password__title">{{ section.settings.description_mailing }}</div>
            {% include 'newsletter-form', label: 'Sign up', placeholder: 'E-mail' %}
          </div>
        {% endif %}
      </div>

      <div class="password__footer">
        {% if password.enabled? %}
          <div class="modal__container">
            <input type="checkbox" id="modal" name="modal">
            <label for="modal" class="modal__label">
              <div class="modal__icon">
                {% include 'icon-lock' %}
              </div>
              <span>Enter store using password</span>
            </label>
            <label for="modal" class="modal__background"></label>
            <div class="modal modal--password">
              <div class="password__main">
                <div class="password__form-container">
                  <div class="password__form">
                    <label for="modal"><span class="password__close">{% include 'icon-close' %}</span></label>
                    {% form 'storefront_password' %}
                      <h2 for="password" class="password-form__label">Enter using password</h2>
                      <div class="password-form__input-button-container">
                        <div class="password-form__input">
                          <div class="input-field input-field--base">
                            <input class="input-field__input" type="password" name="password" id="password" autofocus placeholder="Password" />
                          </div>
                        </div>

                        <div class="password-form__button">
                          <input class="button button--primary button--expand" name="commit" type="submit" value="Enter" />
                        </div>
                      </div>

                      {% if form.errors.count > 0 %}
                        <div class="password__error">Incorrect password</div>
                      {% endif %}
                    {% endform %}
                  </div>
                  <script type="text/javascript">
                    document.getElementById('password').focus();
                  </script>
                </div>
              </div>
            </div>
          </div>
        {% endif %}

        {% if section.settings.enable_socials == true %}
          <div class="password__socials">
            <ul class="password__list password__list--socials">
              {% include 'socials', li_class: 'password__list-item password__list-item--social', a_class: 'password__social-link', badge_class: 'password__social-badge' %}
            </ul>
          </div>
        {% endif %}

        {% if section.settings.show_powered_by == true %}
          <div class="password__powered-by">
            {{ powered_by_link }}
          </div>
        {% endif %}
      </div>
    </div>
  </div>
</section>

{% schema %}
  {
    "name": "Coming soon page",
    "settings": [
      {
        "type": "text",
        "id": "heading",
        "label": "Heading",
        "default": "Coming soon"
      },
      {
        "type": "text",
        "id": "description",
        "label": "Description (optional)"
      },
      {
        "type": "header",
        "content": "Countdown"
      },
      {
        "type": "checkbox",
        "id": "enable_countdown",
        "label": "Show countdown",
        "info": "You can set the countdown date by selecting \"Schedule as live\" status in the top right corner.",
        "default": true
      },
      {
        "type": "header",
        "content": "Mailing list"
      },
      {
        "type": "checkbox",
        "id": "enable_mailing",
        "label": "Show mailing list form",
        "default": true
      },
      {
        "type": "text",
        "id": "description_mailing",
        "label": "Description",
        "default": "Join our mailing list"
      },
      {
        "type": "header",
        "content": "Footer"
      },
      {
        "type": "checkbox",
        "id": "show_powered_by",
        "label": "Show \"Powered by Fourthwall\"",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "enable_socials",
        "label": "Show social icons",
        "default": true
      }
    ]
  }
{% endschema %}
