<aside 
  data-drawer="mobile-menu" 
  class="drawer hidden@sm"
>
  <div class="drawer__background" data-drawer-trigger-primary="mobile-menu"></div>
  <div class="drawer__content drawer__content--small mobile-menu">
    <div class="mobile-menu__section mobile-menu__section--header">
      <a href="#" class="mobile-menu__close" data-drawer-trigger-primary="mobile-menu">
        {% include snippets/icon-close.svg %}
      </a>
    </div>
    <div class="mobile-menu__section mobile-menu__section--body">
      <div class="mobile-menu__nav">
        <ul class="mobile-menu__list">
          <li class="mobile-menu__list-item">
            <a
              href="/"
              class="mobile-menu__link"
            >
              Inicio
            </a>
          </li>

          {% for link in site.linklists[include.menu].links %}
            <li class="mobile-menu__list-item">
              {% if link.links %}
                <label for="input-drawer-{{ forloop.index0 }}" class="mobile-menu__link">
                  {{ link.title }}

                  <div class="mobile-menu__link-icon">
                    {% include snippets/icon-chevron-right.svg %}
                  </div>
                </label>
              {% else %}
                <a
                  href="{{ link.url | localized_url }}"
                  class="mobile-menu__link"
                >
                  {{ link.title }}
                </a>
              {% endif %}

              {% if link.links %}
                <input type="checkbox" id="input-drawer-{{ forloop.index0 }}" class="drawer__checkbox hidden" data-drawer-trigger-secondary>
                <div class="drawer__content drawer__content--small">
                  <div class="mobile-menu__section mobile-menu__section--header">
                    <label href="#" class="mobile-menu__close" for="input-drawer-{{ forloop.index0 }}">
                      {% include snippets/icon-chevron-left.svg %}
                    </label>
                    <div class="mobile-menu__label">
                      {{ link.title }}
                    </div>
                    <div class="mobile-menu__right"></div>
                  </div>
                  <div class="mobile-menu__section mobile-menu__section--body">
                    <div class="mobile-menu__nav">
                      <ul class="mobile-menu__list">
                        {% for childlink in link.links %}
                          <li class="mobile-menu__list-item">
                            <a class="mobile-menu__link" href="{{ childlink.url | localized_url }}">
                              {{ childlink.title }}
                            </a>
                          </li>
                        {% endfor %}
                      </ul>
                    </div>
                  </div>
                </div>
              {% endif %}
            </li>
          {% endfor %}

          {% if include.show_currency_selector == true and shop.enabled_currencies.size > 1 %}
            <li class="mobile-menu__list-item">
              <a for="input-drawer" class="mobile-menu__link" data-accordion="trigger">
                {{ cart_currency }}

                {% if shop.enabled_currencies != blank %}
                  <div class="mobile-menu__link-icon">
                    {% include snippets/icon-chevron-bottom.svg %}
                  </div>
                {% endif %}
              </a>

              {% if shop.enabled_currencies != blank %}
                <div class="mobile-menu__dropdown mobile-menu__dropdown--content">
                  <ul class="mobile-menu__dropdown-inner">
                    {% for currency in shop.enabled_currencies %}
                      <li class="mobile-menu__dropdown-item">
                        <a class="mobile-menu__dropdown-link" href="/localization?currency={{ currency }}&return_to={{ request_page }}">
                          {{ currency }}
                        </a>
                      </li>
                    {% endfor %}
                  </ul>
                </div>
              {% endif %}
            </li>
          {% endif %}
        </ul>

        <tool-bar class="mobile-menu__toolbar">
          <ul class="mobile-menu__list mobile-menu__list--toolbar">
            <li class="mobile-menu__list-item">
              <div class="mobile-menu__link mobile-menu__link--icon" data-accordion="trigger">
                <span class="mobile-menu__icon">{% include snippets/color_lens.svg %}</span>
                Color de tema
                <div class="mobile-menu__link-icon">{% include snippets/icon-chevron-bottom.svg %}</div>
              </div>

              <div class="mobile-menu__dropdown mobile-menu__dropdown--content">
                <ul class="mobile-menu__dropdown-inner">
                  <!--
                  <li class="mobile-menu__dropdown-item">
                    <span data-color="predetermined" class="mobile-menu__dropdown-link"> Predeterminado</span>
                  </li>
                  -->
                  <li class="mobile-menu__dropdown-item">
                    <span data-color="light" class="mobile-menu__dropdown-link"> Claro</span>
                  </li>
                  <li class="mobile-menu__dropdown-item">
                    <span data-color="dark" class="mobile-menu__dropdown-link"> Oscuro</span>
                  </li>
                  <li class="mobile-menu__dropdown-item">
                    <span data-color="yellow" class="mobile-menu__dropdown-link"> Amarillo</span>
                  </li>
                  <li class="mobile-menu__dropdown-item">
                    <span data-color="blue" class="mobile-menu__dropdown-link"> Azul</span>
                  </li>
                </ul>
              </div>
            </li>
            <li class="mobile-menu__list-item">
              <div class="mobile-menu__link mobile-menu__link--icon" data-accordion="trigger">
                <span class="mobile-menu__icon">{% include snippets/format_line_spacing.svg %}</span>
                Altura de línea
                <div class="mobile-menu__link-icon">{% include snippets/icon-chevron-bottom.svg %}</div>
              </div>

              <div class="mobile-menu__dropdown mobile-menu__dropdown--content">
                <ul class="mobile-menu__dropdown-inner">
                  <li class="mobile-menu__dropdown-item">
                    <span data-line-height="standard"  class="mobile-menu__dropdown-link"> Estándar</span>
                  </li>
                  <li class="mobile-menu__dropdown-item">
                    <span data-line-height="separate" class="mobile-menu__dropdown-link"> Separado</span>
                  </li>
                  <li class="mobile-menu__dropdown-item">
                    <span data-line-height="very-separate" class="mobile-menu__dropdown-link"> Muy separado</span>
                  </li>
                </ul>
              </div>
            </li>
            <li class="mobile-menu__list-item">
              <div class="mobile-menu__link mobile-menu__link--icon" data-accordion="trigger">
                <span class="mobile-menu__icon">{% include snippets/text_format.svg %}</span>
                Espaciado entre letras
                <div class="mobile-menu__link-icon">{% include snippets/icon-chevron-bottom.svg %}</div>
              </div>

              <div class="mobile-menu__dropdown mobile-menu__dropdown--content">
                <ul class="mobile-menu__dropdown-inner">
                  <li class="mobile-menu__dropdown-item">
                    <span data-letter-spacing="standard" class="mobile-menu__dropdown-link"> Estándar</span>
                  </li>
                  <li class="mobile-menu__dropdown-item">
                    <span data-letter-spacing="wide" class="mobile-menu__dropdown-link"> Ancho</span>
                  </li>
                  <li class="mobile-menu__dropdown-item">
                    <span data-letter-spacing="very-wide" class="mobile-menu__dropdown-link"> Muy ancho</span>
                  </li>
                </ul>
              </div>
            </li>
            <li class="mobile-menu__list-item">
              <div data-font-size="less" class="mobile-menu__link mobile-menu__link--icon">
                <span class="mobile-menu__icon">{% include snippets/icon-less-size.svg %}</span>
                Disminuir tamaño de fuente
              </div>
            </li>
            <li class="mobile-menu__list-item">
              <div data-font-size="more" class="mobile-menu__link mobile-menu__link--icon">
                <span class="mobile-menu__icon">{% include snippets/icon-more-size.svg %}</span>
                Aumentar tamaño de fuente
              </div>
            </li>
          </ul>
        </tool-bar>
      </div>
    </div>
    <div class="mobile-menu__section mobile-menu__section--socials">
      <div class="mobile-menu__list-social">
        <ul class="mobile-menu__socials">
          {% include snippets/socials.liquid menu='social' li_class='mobile-menu__social' a_class='mobile-menu__social-link' badge_class='mobile-menu__social-badge' %}
        </ul>
      </div>
    </div>
  </div>
</aside>